@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
* {
    box-sizing: border-box;
}
#wrapper {
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    background: repeating-linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    animation: tlo 20s linear infinite;
    background-size: 800%;
    padding: 0;
}
#fadein {
    animation: pokazsie 2s;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h1, h2, h6 {
    cursor: default;
    color: black;
}
h2 a {
    text-decoration: none;
    color: black;
    cursor: default;
}
h2 a:hover {
    color: black;
}
.navbar-brand {
    margin-left: 16px;
    cursor: default;
}
.navbar {
    margin-bottom: 20px;
}
.navbar-toggler {
    margin-right: 1%;
}
.nav-link:hover {
    color: white !important;
    text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.45em currentColor;
}
.discord {
    color: #5865F2 !important;
}
.github {
    color: #333 !important;
}
.twitter {
    color: #1da1f2 !important;
}
.telegram {
    color: #0088cc !important;
}
.lastfm {
    color: #d51007 !important;
}
.spotify {
    color: #1db954 !important;
}
.row {
    max-width: 100%;
}
img {
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
@keyframes pokazsie {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes tlo { 
    0% {
        background-position:0% 50%
    }
    50% {
        background-position:100% 25%
    }
    100% {
        background-position:0% 50%
    }
}
#footer {
    color: white;
    background-color: black;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    opacity: 0.75;
    cursor: default;
    transition: 0.25s ease-in-out;
}
#smallfooter {
    font-size: 10px;
    transition: 0.25s ease-in-out;
}
#footer:hover {
    font-size: 30px;
    opacity: 0.85;
}
#footer:hover #smallfooter {
    font-size: 15px;
    opacity: 0.85;
}
div span {
    opacity: 1;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: lightgray;
}
::-webkit-scrollbar-thumb {
    background-color: gray;
    transition: 0.25s ease-in;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}