@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
* {
    box-sizing: border-box;
}
body {
    background: repeating-linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    animation: tlo 20s linear infinite;
    background-size: 800%;
}
.fszystko {
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    animation: pokazsie 2s;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h1, h2 {
    cursor: default;
    text-align: center;
}
h2 a {
    text-decoration: none;
    color: black;
    cursor: default;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
li a {
    font-size: 20px;
    color: white;
    padding: 12px;
    text-decoration: none;
    user-select: none;
    display: inline-block;
    transition: 0.25s ease-in;
}
li a:hover {
    text-shadow: 5px 2px 4px black;
}
li {
    text-align: center;
    border-right: 1px solid black;
    display: inline;
    float: left;
}
.discord {
    color: #7289da;
}
.github {
    color: #333;
}
.twitter {
    color: #1da1f2;
}
.telegram {
    color: #0088cc;
}
.lastfm {
    color: #d51007;
}
.spotify {
    color: #1db954;
}
.discord:hover {
    color: white;
    background-color: #7289da;
}
.github:hover {
    color: white;
    background-color: #333;
}
.twitter:hover {
    color: white;
    background-color: #1da1f2;
}
.telegram:hover {
    color: white;
    background-color: #0088cc;
}
.lastfm:hover {
    color: white;
    background-color: #d51007;
}
.spotify:hover {
    color: white;
    background-color: #1db954;
}
img {
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    height: auto;
}
.floppa {
    width: 30%;
    margin-left: 1%;
}
.floppa2 {
    margin-left: 5%;
    width: 20%;
}
 .selfie {
    margin-left: 5%;
    width: 30%;
} 
@keyframes pokazsie {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes tlo { 
    0% {
        background-position:0% 50%
    }
    50% {
        background-position:100% 25%
    }
    100% {
        background-position:0% 50%
    }
}
#footer {
    color: white;
    background-color: black;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    font-size: 20px;
    opacity: 0.75;
    cursor: default;
    transition: 0.25s ease-in-out;
}
#smallfooter {
    font-size: 10px;
    transition: 0.25s ease-in-out;
}
#footer:hover {
    font-size: 30px;
    opacity: 0.85;
}
#footer:hover #smallfooter {
    font-size: 15px;
    opacity: 0.85;
}
div span {
    opacity: 1;
}
@media screen and (max-width: 875px) {
    li {
        display: block;
        width: 100%;
    }
    li a {
        width: 100%;
    }
    img {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important; /* z jakiegoś powodu bez important ostatni szop sie nie wyśrodkowywał*/
        float: none !important;
        width: 50%;
    }
    .floppa2 {
        transform: scale(0.75);
    }
}
.tecza {
    background: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red, violet);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: tlo 6s linear infinite;
}
.tecza:hover {
    text-shadow: none;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: lightgray;
}
::-webkit-scrollbar-thumb {
    background-color: gray;
    transition: 0.25s ease-in;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}